.SponsorCard {
    height: 20rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    backdrop-filter: blur(3px); 
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 15px;
}

.SponsorCard .sc-logo {
    width: 10rem;
    height: 10rem;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}