.Schedule {
    padding-block: 2rem;
    width: 30rem;
}

.Schedule .sched-h2 {
    color: var(--orange-500);
    text-shadow: var(--shadow);
    font-weight: 700;
    font-size: 2rem;
}

.Schedule .sched-h2-line {
    margin-block: 2rem;
    width: 2rem;
    height: 2px;
    background-color: var(--orange-500);
}

.Schedule .event-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Schedule .event-item {
    width: min-content;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-block: .5rem;
    font-size: .95rem;
    transition: width 1500ms ease-out, color 600ms linear;

}

.Schedule .ei-date {
    min-width: max-content;
    font-weight: 500;
    color: var(--grey-200);
    text-shadow: var(--shadow);
}

.Schedule .ei-title {
    min-width: max-content;
    font-weight: 700;
    text-shadow: var(--shadow);
    text-transform: uppercase;
}

.Schedule .ei-description {
    width: 0;
    color: var(--grey-400);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: width 1500ms ease-out, color 600ms linear;
    text-shadow: var(--shadow);
}

.Schedule .event-item:hover .ei-description {
    width: 20rem;
    transition: width 200ms ease-out, color 600ms linear;
}

.Schedule .ei-a:focus .ei-description {
    width: 20rem;
    transition: width 200ms ease-out, color 600ms linear;
}

.Schedule .event-item:hover .ei-date {
    color: var(--grey-400);
    transition: color 600ms linear;
}

.Schedule .event-item:hover {
    border-radius: 5px;
    width: 35rem;
    transition: width 200ms ease-out, color 600ms linear;
}

.Schedule .ei-a {
    width: min-content;
}

@media screen and (max-width: 1200px) {
    .Schedule .ei-description {
        width: fit-content;
    }
}

@media screen and (max-width: 600px) {
    .Schedule {
        width: 20rem;
    }

    .Schedule .ei-description {
        width: 12rem;
    }
}