.Schedule {
    padding: 4rem;
}

.Schedule .sched-h2 {
    color: var(--orange-500);
    text-shadow: var(--shadow);
    font-weight: 700;
    font-size: 2.1rem;
}

.Schedule .sched-h2-line {
    margin-block: 2rem;
    width: 2rem;
    height: 2px;
    background-color: var(--orange-500);
}

.Schedule .event-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Schedule .event-item {
    width: min-content;
    list-style: none;
    /* border: 1px solid var(--grey-500); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    /* padding-inline: .5rem; */
    padding-block: .5rem;
    font-size: .95rem;
    transition: width 1500ms ease-out, color 600ms linear;

}

.Schedule .ei-date {
    min-width: max-content;
    font-weight: 500;
    color: var(--grey-200);
    text-shadow: var(--shadow);
}

.Schedule .ei-title {
    min-width: max-content;
    font-weight: 700;
    text-shadow: var(--shadow);
    text-transform: uppercase;
}

.Schedule .ei-description {
    width: 0;
    color: var(--grey-400);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: width 1500ms ease-out, color 600ms linear;
    text-shadow: var(--shadow);
}

.Schedule .event-item:hover .ei-description {
    width: 20rem;
    transition: width 200ms ease-out, color 600ms linear;
}

.Schedule .ei-a:focus .ei-description {
    width: 20rem;
    transition: width 200ms ease-out, color 600ms linear;
}

.Schedule .event-item:hover .ei-date {
    color: var(--grey-400);
    transition: color 600ms linear;
}

.Schedule .event-item:hover {
    border-radius: 5px;
    width: 35rem;
    transition: width 200ms ease-out, color 600ms linear;
}

.Schedule .ei-a {
    width: min-content;
}

/* .Schedule .sched-read-more {
    cursor: pointer;
    font-weight: 700;
    color: var(--grey-000);
    position: relative;
    z-index: 200;
    text-shadow: var(--shadow);
    background-color: transparent;
    border: none;
    font-size: 1rem;
    margin-top: 2rem;
    text-transform: uppercase;
    transition: border-bottom 400ms ease-in, color 400ms ease-in;
}


.Schedule .sched-read-more::after {
    content: '';
    border-bottom: 2px solid var(--orange-500);
    position: absolute;
    bottom: 3px;
    left: 3rem; 
    width: 3.5rem;
    z-index: -100;
    text-shadow: var(--shadow);
    transition: border-bottom 400ms ease-in, width 400ms ease-in;
}

.Schdule .sched-read-more:hover {
    color: var(--orange-500);
    transition: color 400ms ease-in;
}

.Schedule .sched-read-more:hover::after {
    border-bottom: 2px solid var(--orange-200);
    width: 6rem;
    transition: border-bottom 400ms ease-in, width 400ms ease-in;
} */