.NavItem {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavItem:first-child {
    margin-right: auto;
}

.NavItem .icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: var(--nav-bg3);
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: grid;
    place-items: center;
    transition: filter 300ms;
}

.NavItem .icon-button svg {
    color: var(--grey-200);
    width: 16px;
    height: 16px;
}

.NavItem .icon-button:hover,
.NavItem .icon-button:focus {
    filter: brightness(1.5);
}