/* Add this CSS to your stylesheets or components */

/* Container for the entire calendar */
.AdminCalendar {
    /* border: 1px solid red; */
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.AdminCalendar .cal-topdiv {
    display: flex;
    justify-content: space-between;
}

.AdminCalendar .cal-buttonsdiv {
    display: flex;
    gap: 1rem;
}

/* Style for each week */
.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0rem;
    /* border: 1px solid red; */
}

/* Style for each day */
.day {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 8rem;
    height: 8rem;
    position: relative;
    cursor: pointer;
}

/* Style for the date inside each day */
.date {
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 5px;
}

/* Style for navigation buttons */
.cal-button {
    /* margin: 5px; */
    cursor: pointer;
    /* height: 3rem; */
}

.ac-calevent {
    background-color: var(--orange-500);
    font-size: .75rem;
    margin: .25rem;
}

.day.selected {
    border: 4px solid var(--orange-500);
}



.ac-calevent.selected-event {
    /* Styles for the selected event */
    border: 2px solid red; /* Add your styles here */

}
