.AdminCalendar {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.AdminCalendar .cal-topdiv {
    display: flex;
    justify-content: space-between;
}

.AdminCalendar .cal-buttonsdiv {
    display: flex;
    gap: 1rem;
}

.AdminCalendar .week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0rem;
}

.AdminCalendar .day {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 8.3vw;
    min-height: 14vh;
    height: auto; 
    position: relative;
    cursor: pointer;
}

.AdminCalendar .date {
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 5px;
}

.AdminCalendar .cal-button {
    cursor: pointer;
}

.AdminCalendar .ac-calevent { 
    background-color: var(--orange-500);
    font-size: 0.75rem;
    margin: 0.25rem;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-inline: .5rem;
    padding-block: .25rem;
}

.AdminCalendar .ac-calevent.selected-event {
    border: 2px solid red; 
}
