.Splash {
    position: relative;
    z-index: 9999;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.Splash .s-sec1 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.Splash .s-sec2 {
    background-color: var(--grey-000);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4rem;
    gap: 6rem;
}


.Splash .s-sec2-content {
    height: fit-content;
    padding-block: 2rem;
    max-width: 20rem;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width: 1200px) {
    .Splash .s-sec2 {
        padding: 2rem;
        gap: 2rem;
    }

    .Splash .s-sec2-content{
        max-width: 35rem;
        min-width: 0rem;
    }
}

.Splash .s-sec2-content .a-h2 {
    font-size: 2.1rem;
    font-weight: 700;
    text-shadow: var(--shadow);
    color: var(--grey-1000);
}

.Splash .s-sec2-content .a-p {
    min-width: 95%;
    max-width: 95%;
    text-wrap: pretty;
    font-size: 1rem;
    color: var(--grey-500);
    text-shadow: var(--shadow);
}

.Splash .s-sec2-content .a-read-more-link .a-a {
    font-weight: 700;
    color: var(--grey-1000);
    position: relative;
    z-index: 200;
    text-shadow: var(--shadow);
}

.Splash .s-sec2-content .a-read-more-link .a-a::after {
    content: '';
    border-bottom: 2px solid var(--orange-500);
    position: absolute;
    bottom: 3px;
    left: 3rem; 
    width: 6rem;
    z-index: -100;
    text-shadow: var(--shadow);
}

.Splash .s-sec2-content .a-orange-span {
    color: var(--orange-500);
    font-weight: 700;
    text-shadow: var(--shadow)
}

.Splash .s-sec3 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-block: 4rem;
    gap: 6rem;
} 

.card-container1 {
    display: flex;
    gap: 3rem;
    /* position: absolute;
    bottom: 45rem;
    z-index: 99999; */
}

.img1 {
    background-image: url(../../../public/assets/bull-bash.jpeg);
    background-position: center;
    background-size: cover;
    aspect-ratio: 1/1;
    width: 16rem;
    position: absolute;
    bottom: 45rem;
    left: -8rem;
    z-index: 99999;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1000ms, opacity 1000ms; 
}

.img1.active {
    opacity: 1; 
    transform: translateX(0);
    transition: transform 1000ms, opacity 1000ms;
}

.img2 {
    background-image: url(../../../public/assets/cowboy-experience.jpeg);
    background-position: center;
    background-size: cover;
    aspect-ratio: 1/1;
    width: 16rem;
    position: absolute;
    bottom: 42rem;
    left: 12rem;
    z-index: 99999;
    opacity: 0; 
    transform: translateX(-100%);
    transition: transform 1000ms, opacity 1000ms; 
}

/* .img2.active {
    opacity: 1; 
    transform: translateX(0);
    transition: transform 1000ms, opacity 1000ms;
} */

@media screen and (max-width: 1200px) {
    .Splash .s-sec3 {
        padding: 2rem;
        gap: 2rem;
    }

    .Splash {
        width: 90vw;
    }
}

@media screen and (max-width: 600px) {
    .Splash {
        width: 100vw;
        /* margin-top: -10rem; */
    }
}