/* .EventTable {
    position: relative;
    z-index: 9999;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    min-height: 100vh;
    margin-bottom: 8rem;
    width: 80%;
    border: 1px solid lime;
    margin: 0 auto;
} */

.EventTable {
    position: relative;
    z-index: 9999;
    min-height: 100vh;
    margin-bottom: 8rem;
    /* width: clamp(70%, 80vw, 98%); */
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.EventTable > aside {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
}

.grid-item {
    border: 1px solid #ddd;
    padding: 16px;
}

.et-aside {
    width: 24%;
    padding-block: 3rem;
}

.et-main {
    width: 74%;
}

.et-search {
    width: 100%;
}

.et-search > input {
    width: 100%;
}

.EventTable .et-aside {
    position: sticky;
    top: 0;
    height: fit-content;
}