.NavBar {
  display: flex;
  justify-content: flex-start;
  padding-inline: 4rem;
  padding-block: 2rem;
  gap: 2.5rem;
}
  
.NavBar > *:last-child {
  margin-left: auto;
}

.NavBar > .logo {
  margin-top: -1rem;
  margin-right: 2rem;
  width: 6rem;
  height: 6rem;
}

.NavBar > a,
.NavBar > button {
  font-weight: 700;
  font-size: 14px;
}

.NavBar > button {
  margin-top: -1rem;
  margin-bottom: 3rem;
  padding-inline: 1rem;
}