.VideoPlayer {
    margin-left: auto;
    width: 34rem;
    box-shadow: var(--shadow);
}

.VideoPlayer .iframe {
    aspect-ratio: 16/9;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .VideoPlayer {
        margin-top: 2rem;
        /* margin-left: 0; */
    }
}