.VideoPlayer {
    margin-left: auto;
    width: 34rem;
    box-shadow: var(--shadow);
}

.VideoPlayer .iframe {
    aspect-ratio: 16/9;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .VideoPlayer {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 600px) {
    .VideoPlayer {
        width: 20rem;
        margin: 0 auto;
        margin-bottom: 4rem;
    }
}