.TicketStore .ts-div {
    position: relative;
    z-index: 9999;
    padding-inline: 4rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
    min-height: 100vh;
    margin-bottom: 8rem;
}